.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 50px;
  height: 50px;
  background: rgba(196, 154, 108, 0.6);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(196, 154, 108, 0.9);
  border-radius: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 10000;

  @include desktop {
    display: none;
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  &:hover {
    background-color: #c49a6c;
    border-color: #c49a6c;
  }

  & svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    transition: stroke 0.3s ease;
  }

  &:hover svg {
    stroke: #ffffff;
  }
}
